---
import { getCollection } from 'astro:content';
import { marked } from 'marked';
import { sortItemsByDateDesc } from '../utils/data-utils';
import type { Hero as HeroProps } from '../types';
import Button from './Button.astro';
import CustomImage from './CustomImage.astro';
import PostPreview from './PostPreview.astro';
import ProjectPreview from './ProjectPreview.astro';

type Props = HeroProps;

const { title, image, text, actions } = Astro.props;

const latestBlog = (await getCollection('blog')).sort(sortItemsByDateDesc)[0];
const latestProject = (await getCollection('projects')).sort(sortItemsByDateDesc)[0];
---

{
    (title || image?.src || text || (actions && actions.length > 0)) && (
        <section class="mb-16 flex w-full flex-col gap-8 sm:mb-24">
            {title && <h1 class="font-serif text-3xl leading-tight font-medium sm:text-5xl sm:leading-tight">{title}</h1>}
            {image?.src && (
                <figure>
                    <CustomImage
                        class="w-full"
                        {...image}
                        widths={[480, 640, 768, 1024, 1536]}
                        sizes="(min-width: 832px) 768px, calc(100vw - 32px)"
                        fetchpriority="high"
                        loading="eager"
                    />
                    {image.caption && <figcaption class="mt-1.5 text-xs sm:text-sm">{image.caption}</figcaption>}
                </figure>
            )}
            {text && <div class="prose sm:prose-lg max-w-none" set:html={marked.parse(text)} />}
            {actions && actions.length > 0 && (
                <div class="flex flex-wrap gap-4">
                    {actions.map((action) => (
                        <Button href={action.href}>{action.text}</Button>
                    ))}
                </div>
            )}
            {(latestBlog || latestProject) && (
                <div class="mt-8">
                    <h2 class="font-serif text-xl font-medium mb-4">Latest</h2>
                    {latestBlog && <PostPreview post={latestBlog} class="mb-4" />}
                    {latestProject && <ProjectPreview project={latestProject} />}
                </div>
            )}
        </section>
    )
}
